.workContainer {
  margin-top: 20px;
  margin-bottom: 100px;
}

.title {
  margin-bottom: 30px;
  margin-top: 0;
  color: var(--black);
}

@media screen and (max-width: 991.98px) {
  .workContainer {
    padding: 0;
    margin: 0;
  }
}
